[project]
name = "mojentic"
version = "0.7.2"
authors = [
    { name = "Stacey Vetzal", email = "stacey@vetzal.com" },
]
description = "Mojentic is an agentic framework that aims to provide a simple and flexible way to assemble teams of agents to solve complex problems."
readme = "README.md"
requires-python = ">=3.11"
classifiers = [
    'Programming Language :: Python :: 3',
    'License :: OSI Approved :: MIT License',
    'Operating System :: OS Independent',
]

dependencies = [
    "pydantic",
    "structlog",
    "numpy",
    "ollama",
    "openai",
    "anthropic",
    "tiktoken",
    "parsedatetime",
    "pytz",
    "serpapi",
    "colorama",
]

[project.optional-dependencies]
dev = [
    "pytest>=7.0.0",
    "pytest-asyncio",
    "pytest-spec",
    "pytest-cov",
    "pytest-mock>=3.10.0",
    "flake8>=6.0.0",
    "mkdocs",
    "mkdocs-material",
    "mkdocs-llmstxt",
    "mkdocstrings[python]",
    "griffe-fieldz",
    "pymdown-extensions",
]

[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["src"]

[project.urls]
Homepage = "https://github.com/svetzal/mojentic"
Issues = "https://github.com/svetzal/mojentic/issues"
